html
{
    font-size: $font-size;

    overflow-y: scroll;
}
body
{
    font-family: $font-main;
    font-size: 1rem;
}

a
{
    transition: color .5s;

    color: $color-primary;
    &:focus,
    &:hover
    {
        text-decoration: none;

        color: $color-accent;
    }
}

h1{
    @include sm{
        font-size: 1rem;
    }
}
