.footer-container
{
    background-color: $color-dark;
}

h4
{
    text-align: left;

    color: $color-light;
}

.footer-box
{
    margin-top: 38px;
    &__description
    {
        margin-right: 88px;
        padding-bottom: 11px;

        text-align: left;

        color: $color-light;
    }
}
.container-box
{
    padding-bottom: 18px;

    text-align: center;
}
.copy-right
{
    color: $color-light;
    &:hover
    {
        color: $color-light;
    }
}
