.main{
    @extend %margin-bottom-lg;
    .user-login{
        margin-bottom: $gap * 4;
    }

    .site-search{
        margin-bottom: $gap * 3;
    }
}

.new-films{
    &-title{
        margin: -7.5px 0 45px;
        font-size: 3rem;
        font-family: $font-header;
    }
    &-item{
        padding-left: $gap / 2 ;
        padding-right: $gap / 2;
        margin-bottom: $gap;
        cursor: pointer;
       

        &_thumbnail{
            margin-bottom:0px;
            &:hover{
                background-color: $color-accent ;
                h3{
                    color: $color-light;
                }
            }

        }
        

        &__caption{
           
            h3{
            font-size: 1rem;
            margin: 0px;
            text-align: center;
            font-family: $font-main;
            font-weight: 700;

            }
        }
    }

    &-row{
        padding-left:$gap/2 ;
        padding-right: $gap/2;

    }

  
}

