.main{
    @extend %margin-bottom-lg;
    .user-login{
        margin-bottom: $gap * 4;
    }

    .site-search{
        margin-bottom: $gap * 3;
    }
}

.new-films{
    &-title{
        margin: -7.5px 0 45px;
        font-size: 3rem;
        overflow: hidden;
        
        font-family: $font-header;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-color:rgba($color-accent, 0.7);
            height: 3px;
            margin: 0.85em 0 0 15px;
            width: 100%;
            bottom:0;
            
        }
    }
    &-item{
        padding-left: $gap / 2 ;
        padding-right: $gap / 2;
        margin-bottom: $gap;
        cursor: pointer;
       

        &_thumbnail{
            margin-bottom:0px;
            &:hover{
                background-color: $color-accent ;
                h3{
                    color: $color-light;
                }
            }

        }
        

        &__caption{
           
            h3{
            font-size: 1rem;
            margin: 0px;
            text-align: center;
            font-family: $font-main;
            font-weight: 700;

            }
        }
    }

    &-row{
        padding-left:$gap/2 ;
        padding-right: $gap/2;

    }

  
}


.top-films{
    &-title{
        margin:60px 0px 48px 0px;
        padding-left: 48px;
        font-size: 2.5rem;
        overflow: hidden;
        position: relative;
        
        font-family: $font-header;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-color:rgba($color-accent, 0.7);
            height: 3px;
            margin: 0.85em 0 0 15px;
            width: 100%;
            bottom:-3;

        }
        &::before{
            content: "";
        position: absolute;
        background-color:rgba($color-accent, 0.7);
        height: 3px;
        width: 88px;
        top:11px;
        left: -58px;
        }
    }

}

.news-films{
    &-title{
        margin:60px 0px 48px 0px;
        padding-left: 48px;
        font-size: 2.5rem;
        overflow: hidden;
        position: relative;
        
        font-family: $font-header;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-color:rgba($color-accent, 0.7);
            height: 3px;
            margin: 0.85em 0 0 15px;
            width: 100%;
            bottom:-3;

        }
        &::before{
            content: "";
        position: absolute;
        background-color:rgba($color-accent, 0.7);
        height: 3px;
        width: 88px;
        top:11px;
        left: -58px;
        }
    }

}