.main{
    @extend %margin-bottom-lg;
    .user-login{
        margin-bottom: $gap * 4;
    }

    .site-search{
        margin-bottom: $gap * 3;
    }
}

.new-films{
    &-title{
        margin: -7.5px 0 45px;
        font-size: 3rem;
        overflow: hidden;
        
        font-family: $font-header;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-color:rgba($color-accent, 0.7);
            height: 3px;
            margin: 0.85em 0 0 15px;
            width: 100%;
            bottom:8.5px;
            
        }
    }
    &-item{
        padding-left: $gap / 2 ;
        padding-right: $gap / 2;
        margin-bottom: $gap;
        cursor: pointer;
       

        &_thumbnail{
            margin-bottom:0px;
            &:hover{
                background-color: $color-accent ;
                h3{
                    color: $color-light;
                }
            }

        }
        

        &__caption{
           
            h3{
            font-size: 1rem;
            margin: 0px;
            text-align: center;
            font-family: $font-main;
            font-weight: 700;

            }
        }
    }

    &-row{
        padding-left:$gap/2 ;
        padding-right: $gap/2;

    }

  
}


.top-films{
    &-title{
        margin:60px 0px 45px -5px;
        padding-left: 48px;
        font-size: 2.5rem;
        overflow: hidden;
        position: relative;
        
        font-family: $font-header;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-color:rgba($color-accent, 0.7);
            height: 3px;
            margin: 0.85em 0 0 15px;
            width: 100%;
            bottom:-3;

        }
        &::before{
            content: "";
        position: absolute;
        background-color:rgba($color-accent, 0.7);
        height: 3px;
        width: 88px;
        top:11px;
        left: -58px;
        }
    }

}

.news{
    &-title{
        margin:60px 0px 23px 0px;
        padding-left: 48px;
        font-size: 2.5rem;
        overflow: hidden;
        position: relative;
        
        font-family: $font-header;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-color:rgba($color-accent, 0.7);
            height: 3px;
            margin: 0.85em 0 0 15px;
            width: 100%;
            bottom:-3;

        }
        &::before{
            content: "";
        position: absolute;
        background-color:rgba($color-accent, 0.7);
        height: 3px;
        width:88px;
        top:11px;
        left:-58px;
        }
    }

}


.films-news{
&:hover{
.thumbnail{
        background-color: $color-accent;
        }
    
        .films-news__button{
            background-color: $color-accent;
        }
        .films-news__link{
                color: $color-accent;
            }
        }
        
       
    &__caption{
        margin-left:10px;
        margin-top: 25px;
        font-size: 1.5rem;
       
    }

    &-box{
        margin-left: 11px;
        margin-right: 1px;
        margin-bottom:30px;
        cursor: pointer;
        &:nth-last-of-type(3){
            margin-bottom: 0;
        }
           
            &__img{
                max-width: 100%;
            }
            &__description{
                text-align: justify;
                margin-left: $gap;
                margin-bottom: 10px;
            }
           
        }
        
        
        &__button{
        float: right;
        margin-bottom:$gap*2;
        }

    }

img{
    width: 100%;
}
