.left-sidebar
{
    @extend %margin-bottom-lg;
   /*.panel:last-of-type
    {
        //margin-bottom: 0;
    }*/
}

.vertical-slider
{
    overflow: hidden;

    border-radius: 4px;
    img
    {
        width: 100%;
    }
}




.site-news
{
    &-item
    {
        position: relative;

        clear: both;

        min-height: 85px;
        margin-bottom: $gap;


        &::after
        {
            position: absolute;
            right: 0;
            bottom: -5px;

            width: calc(100% - 85px);
            height: 1px;

            content: '';

            background-color: $color-gray;
        }

        &__img
        {
            float: left;

            width: 75px;
            margin: 0 10px 10px 0;

            &__title
            {
                margin-bottom: 10px;
            }
        }
        &:hover
        {
            .site-news-item__title a
            {
                color: $color-accent;
            }
            .site-news-item__img
            {
                border-color: $color-accent;
                background-color: $color-accent;
            }
        }
    }

    &-date
    {
        font-size: .8rem;

        margin-top: 10px;

        text-align: right;

        color: darken($color-gray , 30%);
    }
}

.site-news-item__title > a
{
    @include block-shortener(1rem, 1.5, 50px, 2);
}

.top-films
{
    &__body
    {
        padding-right: 0;
        padding-left: 0;
    }

    &__item
    {
        margin-right: -1px;
        margin-left: -1px;
        padding-right: 55px;

        transition: none;

        color: $color-primary !important;
        background-color: transparent;

        &:first-child
        {
            border-top: 0;
            border-radius: 0;
        }
        &:last-of-type
        {
            border-bottom: 0;
            border-radius: 0;
        }
        &:focus,
        &:hover
        {
            color: $color-light !important;
            border-color: $color-accent;
            background-color: $color-accent !important;

            .top-films__badge
            {
                background-color: $color-dark;
            }
        }
    }
    &__list
    {
        margin-bottom: 0;
    }
    &__badge
    {
        position: absolute;
        top: 50%;
        right: $gap;

        transform: translateY(-50%);
    }
}


