.left-sidebar{
    margin-bottom: 80px;
    .panel:last-of-type{
        margin-bottom: 0;
    }
}

.vertical-slider{
    border-radius: 4px;
    overflow: hidden;
    img{ 
        width: 100%;
    }
}