.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.header, .main, .left-sidebar {
  margin-bottom: 80.0px;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #366591;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-inverse {
  background-color: #191919;
  margin: 0;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0 px;
}

.panel {
  border: none;
  background-color: #ebebeb;
  margin-bottom: 30px;
}

.panel-default .panel-heading {
  border: none;
  background-color: #df8a13;
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg {
  font-size: 0.875rem;
}

.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.nav-tabs {
  margin-bottom: 15px;
}

.thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #165690;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

a:focus, a:hover {
  text-decoration: none;
  color: #df8a13;
}

.header-logo {
  padding: 100px 0px;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
  letter-spacing: 0.33em;
}

.header-logo__description {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

.main .user-login {
  margin-bottom: 60px;
}

.main .site-search {
  margin-bottom: 45px;
}

.new-films-title {
  margin: -7.5px 0 45px;
  font-size: 3rem;
  font-family: "PT Serif", serif;
}

.new-films-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.new-films-item_thumbnail {
  margin-bottom: 0px;
}

.new-films-item_thumbnail:hover {
  background-color: #df8a13;
}

.new-films-item_thumbnail:hover h3 {
  color: #ffffff;
}

.new-films-item__caption h3 {
  font-size: 1rem;
  margin: 0px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.new-films-row {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider img {
  width: 100%;
}

.site-news-item {
  clear: both;
  margin-bottom: 15px;
  position: relative;
  min-height: 85px;
}

.site-news-item::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 85px);
  background-color: #dddddd;
  right: 0;
  bottom: -5px;
}

.site-news-item__img {
  float: left;
  margin: 0px 10px 10px 0px;
  width: 75px;
}

.site-news-item__img__title {
  margin-bottom: 10px;
}

.site-news-item:hover .site-news-item__title a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__img {
  border-color: #df8a13;
  background-color: #df8a13;
}

.site-news-date {
  margin-top: 10px;
  text-align: right;
  font-size: 0.8rem;
  color: #909090;
}

.site-news-item__title > a {
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.top-films__body {
  padding-left: 0px;
  padding-right: 0px;
}

.top-films__item {
  margin-right: -1px;
  margin-left: -1px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  background-color: transparent;
  color: #165690 !important;
  padding-right: 55px;
}

.top-films__item:first-child {
  border-radius: 0;
  border-top: 0;
}

.top-films__item:last-of-type {
  border-radius: 0;
  border-bottom: 0;
}

.top-films__item:focus, .top-films__item:hover {
  background-color: #df8a13 !important;
  color: #ffffff !important;
  border-color: #df8a13;
}

.top-films__item:focus .top-films__badge, .top-films__item:hover .top-films__badge {
  background-color: #232323;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__badge {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-right > li {
    margin: 5px 0px 5px 5px;
  }
  .navbar-left > li {
    margin: 5px 0px 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
  }
}
