.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.header, .main, .left-sidebar {
  margin-bottom: 80.0px;
}

.navbar-inverse .navbar-nav > .active > a {
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #366591;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-inverse {
  margin: 0;
  background-color: #191919;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0 px;
}

.panel {
  margin-bottom: 30px;
  border: none;
  background-color: #ebebeb;
}

.panel-default .panel-heading {
  font-size: 1.2rem;
  letter-spacing: .1em;
  color: #fff;
  border: none;
  background-color: #df8a13;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg {
  font-size: .875rem;
}

.input-group-lg > .form-control {
  font-size: .875rem;
}

.nav-tabs {
  margin-bottom: 15px;
}

.thumbnail {
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

.embed-responsive {
  border: 1px solid #dddddd;
  border-radius: 5px 5px 0 0;
}

.well {
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 20px;
}

.container > .navbar-header {
  margin-left: 0;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

a {
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  color: #165690;
}

a:focus, a:hover {
  text-decoration: none;
  color: #df8a13;
}

.user-nav-tabs {
  float: right;
  background: none;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.header-logo__title {
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
  display: block;
  letter-spacing: .33em;
  color: #df8a13;
}

.header-logo__description {
  font-size: 1.15rem;
  display: block;
  letter-spacing: .2em;
  color: #fff;
}

.main {
  padding-left: 15px;
  padding-right: 15px;
}

.main .user-login {
  margin-bottom: 60px;
}

.main .site-search {
  margin-bottom: 45px;
}

.new-films-title {
  font-family: "PT Serif", serif;
  font-size: 3rem;
  position: relative;
  overflow: hidden;
  margin: -7.5px 0 45px;
}

.new-films-title::after {
  position: absolute;
  bottom: 8.5px;
  width: 100%;
  height: 3px;
  margin: .85em 0 0 15px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.new-films-item {
  margin-bottom: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  cursor: pointer;
}

.new-films-item_thumbnail {
  margin-bottom: 0;
}

.new-films-item_thumbnail:hover {
  background-color: #df8a13;
}

.new-films-item_thumbnail:hover h3 {
  color: #fff;
}

.new-films-item__caption h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.new-films-row {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.top-films-title {
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
  position: relative;
  overflow: hidden;
  margin: 60px 0 45px -5px;
  padding-left: 48px;
}

.top-films-title::after {
  position: absolute;
  bottom: -3;
  width: 100%;
  height: 3px;
  margin: .85em 0 0 15px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.top-films-title::before {
  position: absolute;
  top: 11px;
  left: -58px;
  width: 88px;
  height: 3px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.news-title {
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
  position: relative;
  overflow: hidden;
  margin: 60px 0 23px 0;
  padding-left: 48px;
}

.news-title::after {
  position: absolute;
  bottom: -3;
  width: 100%;
  height: 3px;
  margin: .85em 0 0 15px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.news-title::before {
  position: absolute;
  top: 11px;
  left: -58px;
  width: 88px;
  height: 3px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.films-news:hover .thumbnail {
  background-color: #df8a13;
}

.films-news:hover .films-news__button {
  background-color: #df8a13;
}

.films-news:hover .films-news__link {
  color: #df8a13;
}

.films-news__caption {
  font-size: 1.5rem;
  margin-top: 25px;
  margin-left: 10px;
}

.films-news-box {
  margin-right: 1px;
  margin-bottom: 30px;
  margin-left: 11px;
  cursor: pointer;
}

.films-news-box:nth-last-of-type(3) {
  margin-bottom: 0;
}

.films-news-box__img {
  max-width: 100%;
}

.films-news-box__description {
  margin-bottom: 10px;
  margin-left: 15px;
  text-align: justify;
}

.films-news__button {
  float: right;
  margin-bottom: 30px;
}

img {
  width: 100%;
}

.description-film {
  text-align: center;
  border-radius: 0;
  margin-top: -3px;
  max-width: 1011px;
  border-radius: 5px;
}

.description-film__wrapper {
  font-size: 1.2em;
  white-space: nowrap;
}

.description-film__badge {
  font-size: 0.8em;
  margin-right: 15px;
}

.description-title {
  font-family: "PT Serif", serif;
  font-size: 3rem;
  margin-bottom: 45px;
  margin-top: -8px;
  position: relative;
  overflow: hidden;
}

.description-title::after {
  position: absolute;
  bottom: 8.5px;
  width: 100%;
  height: 3px;
  margin: .85em 0 0 15px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.about-film__title {
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
  position: relative;
  overflow: hidden;
  margin: 75px 0 45px 0px;
  padding-left: 38px;
}

.about-film__title::after {
  position: absolute;
  bottom: -3;
  width: 100%;
  height: 3px;
  margin: .85em 0 0 15px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.about-film__title::before {
  position: absolute;
  top: 11px;
  left: -62px;
  width: 88px;
  height: 3px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.about-film__description {
  margin-top: 5px;
}

.feedback-film {
  margin-bottom: 20px;
}

.feedback-film__title {
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
  position: relative;
  overflow: hidden;
  margin: 75px 0 45px 0px;
  padding-left: 38px;
}

.feedback-film__title::after {
  position: absolute;
  bottom: -3;
  width: 100%;
  height: 3px;
  margin: .85em 0 0 15px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.feedback-film__title::before {
  position: absolute;
  top: 11px;
  left: -62px;
  width: 88px;
  height: 3px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.feedback-film-item__body {
  margin-top: 5px;
  border-radius: 5px;
  background-color: #dddddd;
}

.feedback-film-item__heading {
  background-color: #df8a13;
  color: #fff;
  font-size: 1.2em;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
}

.feedback-film-item__description {
  padding-top: 0px;
}

.film-feedback__title {
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
  position: relative;
  overflow: hidden;
  margin: 75px 0 45px 0px;
  padding-left: 38px;
}

.film-feedback__title::after {
  position: absolute;
  bottom: -3;
  width: 100%;
  height: 3px;
  margin: .85em 0 0 15px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.film-feedback__title::before {
  position: absolute;
  top: 11px;
  left: -62px;
  width: 88px;
  height: 3px;
  content: '';
  background-color: rgba(223, 138, 19, 0.7);
}

.film-feedback__btn {
  float: right;
}

h3 {
  white-space: nowrap;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}

.vertical-slider img {
  width: 100%;
}

.site-news-item {
  position: relative;
  clear: both;
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  content: '';
  background-color: #dddddd;
}

.site-news-item__img {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}

.site-news-item__img__title {
  margin-bottom: 10px;
}

.site-news-item:hover .site-news-item__title a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__img {
  border-color: #df8a13;
  background-color: #df8a13;
}

.site-news-date {
  font-size: .8rem;
  margin-top: 10px;
  text-align: right;
  color: #909090;
}

.site-news-item__title > a {
  font-size: 1rem;
  line-height: 1.5rem;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.top-films__body {
  padding-right: 0;
  padding-left: 0;
}

.top-films__item {
  margin-right: -1px;
  margin-left: -1px;
  padding-right: 55px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: #165690 !important;
  background-color: transparent;
}

.top-films__item:first-child {
  border-top: 0;
  border-radius: 0;
}

.top-films__item:last-of-type {
  border-bottom: 0;
  border-radius: 0;
}

.top-films__item:focus, .top-films__item:hover {
  color: #fff !important;
  border-color: #df8a13;
  background-color: #df8a13 !important;
}

.top-films__item:focus .top-films__badge, .top-films__item:hover .top-films__badge {
  background-color: #232323;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-container {
  background-color: #232323;
}

h4 {
  text-align: left;
  color: #fff;
}

.footer-container__description {
  padding: 0;
}

.footer-container__box {
  margin-top: 38px;
  padding-bottom: 11px;
  text-align: center;
}

.footer-container__box-item {
  list-style-type: none;
  padding: 0;
}

.footer-container__box-link {
  color: #777;
}

.footer-container__box-link:hover {
  color: #fff;
}

.footer-container__description {
  margin-right: 58px;
  padding-bottom: 11px;
  text-align: left;
  color: #fff;
}

.container-box {
  padding-bottom: 18px;
  text-align: center;
}

.copy-right {
  color: #fff;
}

.copy-right:hover {
  color: #fff;
}

#link7,
#link6,
#link5,
#link4,
#link3,
#link2,
#link1,
#link {
  background-color: #df8a13;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  vertical-align: middle;
}

#link7:last-of-type,
#link6:last-of-type,
#link5:last-of-type,
#link4:last-of-type,
#link3:last-of-type,
#link2:last-of-type,
#link1:last-of-type,
#link:last-of-type {
  margin-left: -18px;
}

.user-navtabs {
  border-bottom: none;
  position: absolute;
  position: absolute;
  top: 0;
  right: -3px;
}

.panel-heading {
  position: relative;
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: .33em;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
  .navbar-left > li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
  .new-films-title {
    font-size: 2rem;
    margin-left: 4px;
  }
  .top-films-title {
    font-size: 1.75rem;
    margin-left: 4px;
  }
  .news-title {
    font-size: 1.75rem;
    margin-left: 4px;
  }
  .films-news__caption {
    margin-left: 17px;
  }
  .films-news-box {
    padding-right: 15px;
    padding-left: 5px;
  }
  .films-news-box__item {
    padding-left: 0;
    padding-right: 0;
  }
  .films-news-box__description {
    margin-left: 0;
  }
  .films-news__link {
    font-size: 1.125rem;
    margin-left: 1px;
  }
  .description-title {
    font-size: 2rem;
  }
  .about-film__title {
    font-size: 1.75rem;
  }
  .feedback-film__title {
    font-size: 1.75rem;
  }
  .film-feedback__title {
    font-size: 1.75rem;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: .2em;
  }
}
